<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" routerLink="/allphones">AllPhones</a>
      </li>
      <li class="nav-item">

        <a class="nav-link" routerLink="/valid">Valid Phones</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/notvalid">Non-Valid Phones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cameroon">Cameroon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ethiopia">Ethiopia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/morocco">Morocco</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Mozambique">Mozambique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Uganda">Uganda</a>
      </li>
    </ul>
  </div>
</nav>
